<div class="sidebar">
    <img src="images/dash.jpg" alt="Logo" />
    <div class="menu">
      <a href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
      
     
      <div class="dropdown">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-th-large"></i>Category
        </div>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/addcat">Add Category</a></li>
          <li><a class="dropdown-item" href="/viewDish">View Category</a></li>
        </ul>
      </div>

     
      <div class="dropdown">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-utensils"></i>Menu
        </div>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Add Menu</a></li>
          <li><a class="dropdown-item" href="#">View Menu</a></li>
        </ul>
      </div>

     
      <div class="dropdown">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user-friends"></i>Staffs
        </div>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Add Staff</a></li>
          <li><a class="dropdown-item" href="#">View Staff</a></li>
        </ul>
      </div>

     
      <div class="dropdown">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-table"></i>Tables
        </div>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Add Table</a></li>
          <li><a class="dropdown-item" href="#">View Table</a></li>
        </ul>
      </div>

      
      <a href="#"><i class="fas fa-shopping-cart"></i>Orders</a>
      
     
      <a href="#"><i class="fas fa-file-invoice-dollar"></i>Bills</a>
    </div>
  </div>

