<div class="container" style="margin-left: 270px; padding-top: 20px;">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center p-4 shadow">Square 1</div>
    </div>
    <div class="col-md-3">
      <div class="card text-center p-4 shadow">Square 2</div>
    </div>
    <div class="col-md-3">
      <div class="card text-center p-4 shadow">Square 3</div>
    </div>
    <div class="col-md-3">
      <div class="card text-center p-4 shadow">Square 4</div>
    </div>
  </div>

