<!-- views/square.ejs -->
<div class="container text-center mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="p-4 bg-primary text-white rounded shadow">Square 1</div>
    </div>
    <div class="col-md-3">
      <div class="p-4 bg-success text-white rounded shadow">Square 2</div>
    </div>
    <div class="col-md-3">
      <div class="p-4 bg-warning text-dark rounded shadow">Square 3</div>
    </div>
    <div class="col-md-3">
      <div class="p-4 bg-danger text-white rounded shadow">Square 4</div>
    </div>
  </div>
</div>






